.contact {

  .iframe-container {
    overflow: hidden;
    padding-top: 100%;
    position: relative;

    @media (max-width: 684px) {
      padding-top: 1000px;
    }
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
}
