footer {
  background: #555;
  padding: 75px;
  text-align: center;

  ul li {
    width: 35px;
    margin: 0 15px;
    transition: opacity 500ms ease-in-out;
    display: inline-block;

    &:hover {
      opacity: 0.5;
    }
  }

  img {
    width: 50px;
  }
}
