.home {
  font-family: 'PT Serif', serif;
  line-height: 2em;
  padding: 75px 0;
  text-align: center;

  h2 {
    margin-top: 0;
  }

  .title {
    font-size: 1.6em;
    line-height: 1em;
    padding-bottom: 30px;
  }

  .location {
    font-size: 1.5em;
  }

  @media (max-width: 684px) {
    line-height: normal;

    h2 {
      margin-top: 0;
    }
  }
}
